<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Error</h1>
    <h5>This author does not exist</h5>
    @Html.ActionLink("Return to Authors", "Index", "Authors", default, new { @class = "btn btn-sm btn-outline-danger w-25" })
</div>